.build
build.ninja
.ninja_deps
.ninja_log
venv/
deps/
libs/
package*

color_normalization
grayscale_normalization
tspart_cli
tspart_gui
hilbert_path
mid_color
mid_grayscale
voronoi
voronoi_lowres

/*.gcode
/*.jpg
/*.plt
/*.svg
/res/
!/res/klaudia.jpg
*.sublime*
activate
.clang_complete
/twitterbot_apps/
TODO
