.build
build
build.ninja
.ninja_deps
.ninja_log
venv/
libs/
package*

color_normalization
grayscale_normalization
colorful_tesselation
tspart_cli
tspart_gui
tesselation_cli
tesselation_gui
hilbert_path
mid_color
mid_grayscale
voronoi
voronoi_lowres

/*.gcode
/*.jpg
/*.plt
/*.svg
/res/
/out/
/deps
/showroom
/tests_bin
!/res/klaudia.jpg
*.sublime*
activate
.clang_complete
/twitterbot_apps/
TODO
